@import 'styles/variables.scss';

.textMessage {
    padding: 8px 10px;
    margin: 4px 8px;
    background-color: #F7F7F7;
    font-family: $mainFontFamily;
    border-radius: 8px;
    text-align: right;

    &Me {
        background-color: $mainActiveColor;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__authorName {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #F2994A;
        margin-right: 10px;
    }

    &__admin {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #A1A1BC;
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $titleTextColor;
        text-align: left;
        overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
        word-wrap: break-word;
    }

    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #A1A1BC;
    }
}