@import 'styles/variables.scss';

.textMessage {
    $self: &;
    display: flex;
    margin: 4px 8px;
    font-family: $mainFontFamily;

    &Me {
        #{$self}__container {
            margin-left: auto;
            background-color: $mainActiveColor;      
        }

        #{$self}__text {
            color: white;
        }
    }

    &__container {
        max-width: 60%;
        display: inline-flex;
        background-color: #F7F7F7;
        padding: 8px 10px;
        border-radius: 8px;
        text-align: right;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__authorName {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #F2994A;
        margin-right: 10px;
    }

    &__admin {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #A1A1BC;
    }

    &__text {
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $titleTextColor;
        text-align: left;
        overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
        word-wrap: break-word;
    }

    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #A1A1BC;
    }
}