@import 'styles/variables.scss';

.authPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  overflow: hidden;

  &__contentContainer {
    flex-grow: 1;
    width: 100%;
  }

  &__formsContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #fff;
  }

  &__form {
    position: absolute;
    z-index: 5;
    align-self: center;
    justify-self: center;
    width: 100%;
    transition: all 0.6s ease-in-out
  }

  &__buttonsContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
  }

  &__switchButton {
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: inherit;
    color: #fff;
    transition: all 0.6s ease-in-out;
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: 21px;
  }
}

