@import 'styles/variables.scss';

.pinnedDialogs {
    padding: 0 16px;

    &__header {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: 'Plus Jakarta Sans';
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: center;
            color: $titleTextColor;
        }
    }

    &__avatar {
        width: 24px;
        height: 24px;
    }

    &__content {
        width: calc(100% - 8px);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 8px;
        padding: 12px 0;
    }
}               