@import 'styles/variables.scss';

.pinnedDialogs {
    width: 100%;
    position: absolute;
    padding: 0 16px;
    font-family: $mainFontFamily;

    &__header {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: center;
            color: $titleTextColor;
        }
    }

    &__avatar {
        width: 24px;
        height: 24px;
    }

    &__contentContainer {
        overflow: hidden;
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-columns: calc(50% - 4px);
        grid-auto-flow: column;
        grid-gap: 8px;
        padding: 12px 0;
        transition: all 0.3s;
    }
}               