@import 'styles/variables.scss';

.dialog {
    display: flex;
    padding: 8px 0;
    font-family: $mainFontFamily;

    &__avatar {
        width: 48px;
        height: 48px;
    }

    &__content {
        min-width: 0;
        margin-left: 16px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $titleTextColor;
    }

    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
        opacity: 0.6;
    }

    &__bottom {
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #000;
    }

    &__unread {
        display: flex;
        margin-left: 45px;
        min-width: 24px;
        height: 24px;
        background: $mainActiveColor;
        border-radius: 12px;

        span {
            margin: auto;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
        }
    }

    &__read {
        opacity: 0;
    }
}