@import 'styles/variables.scss';

.chatHome {
    height: 100%;
    width: 100%;
    
    .AddNewChatButton {
        position: absolute;
        right: 24px;
        bottom: 84px;
    }
}

