@import 'styles/variables.scss';

.userEditPage {

    &__headerUserSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 24px;
    }

    &__headerInfoToEdit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__headerAvatar {
        width: 110px !important;
        height: 110px !important;

        & > div {
            height: 100%;
        }

        & > div > div {
            height: 100% !important;
            width: 100% !important;
        }
    }

    &__headerUserInfo {
        margin-top: 20px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
    }

    &__headerUserName {
        font-family: $mainFontFamily;
        font-size: 18px;
        line-height: 24px;
    }

    &__headerUserDescription {
        font-family: $mainFontFamily;
        font-size: 14px;
        line-height: 21px;
    }

    &__infoToEdit {
        display: flex;
    }
}