@import 'styles/variables.scss';

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $mainFontFamily;
    font-weight: 400;

    &__top {
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    &__socialNetworksList {
        display: flex;
        margin: 20px 0 20px;
    }

    &__socialNetworksItem {
        margin: 0 5px 0;
    }

    &__input {
        min-width: 250px;
        border-radius: 0;
        font-family: $mainFontFamily;
        font-size: 16px;
        line-height: 24px;
    }

    &__errorMessage {
        margin-top: 5px;
        font-family: $mainFontFamily;
        font-size: 13px;
        line-height: 18px;
    }


    &__submitButton {
        display: block;
        margin: 0 auto 0;
        padding: 0 45px;
        background-color: $mainActiveColor;
        border: 1px solid $mainActiveColor;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        font-family: $mainFontFamily;
        letter-spacing: 0.5px;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
            transition: all 0.2s;
        }
    }
}