@import 'styles/variables.scss';

.createGroupChat {
    font-family: $mainFontFamily;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__headerContentContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__backButton,
    &__nextButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: none;
        color: $mainActiveColor;
        font-family: inherit;
        font-weight: 500;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: $titleTextColor;
    }

    &__searchForm {
        margin-top: 10px;
        margin-bottom: 4px;
        width: 100%;
    }

    &__users {
        padding: 0 16px;
        height: calc(100% - 103px);
        overflow: auto;
    }
    
    &__checkbox {
        width: 100%;
        margin-left: 0 !important;

        & > span {
            border-radius: 100% !important;

            &::after {
                border-radius: 100% !important;
                border: none;
            }
        }
        
        & > span > span {
            border-radius: 100% !important;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        padding: 8px 4px;
    }

    &__userAvatar {
        width: 48px;
        height: 48px;
    }

    &__userInfo {
        margin-left: 16px;
    }

    &__userName {
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $titleTextColor;
    }

    &__userDescription {
        margin-top: 6px;
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $disableTextColor;
    }
}

.finalGroupCreating {
    font-family: $mainFontFamily;
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__headerContentContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__backButton,
    &__nextButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: none;
        color: $mainActiveColor;
        font-family: inherit;
        font-weight: 500;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: $titleTextColor;
    }
}